@using GymManager.Application.Common.Interfaces
@using GymManager.Application.Dictionaries
@using Microsoft.AspNetCore.Mvc.Localization

@inject IAppSettingsService appSettings
@inject IViewLocalizer viewLocalizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GymManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GymManager.UI.styles.css" asp-append-version="true" />

    <partial name="Partials/_FaviconsPartial" />

	@* pakiet ikon font-awesome *@
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

	@* kolor footera zgodnie z ustawieniami aplikacji *@
	<style>
		footer {
			background-color: @await appSettings.GetValueByKeyAsync(SettingsDict.FooterColor) !important;
		}
	</style>

	@* renderowanie sekcji Style *@
    @await RenderSectionAsync("Styles", required: false)

</head>

@* Layout strony głównej dla niezalogowanych użytkowników *@

<body>
    <header>
		<div class="container">
			<div class="mt-4 mb-4">
				<div class="row">
					<div class="col-8">
						<a class="navbar-brand" asp-controller="Home" asp-action="Index">
							<img src="~/images/gym-logo.jpg" alt="strona główna" width="270" />
						</a>
					</div>
					<div class="col-4 my-auto">
						<div class="float-end">
							<partial name="Partials/_CulturePartial" />
						</div>
					</div>

				</div>
			</div>
		</div>

        <nav class="navbar navbar-dark navbar-expand-sm navbar-toggleable-sm bg-danger mt-3 mb-3 main-navbar">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-end main-navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
							<a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contact">@viewLocalizer["Contact"]</a>
                        </li>
                    </ul>
					<partial name="Partials/_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="border-top footer text-white">
        <div class="container text-center">
			&copy; @DateTime.Now.Year - GymManager - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-white">@viewLocalizer["PrivacyPolicy"]</a>
        </div>
    </footer>

	<div class="privacy-policy-info" style="display: none;">
		Serwis wykorzystuje pliki cookies. Korzystając ze strony wyrażasz zgodę na wykorzystanie plików cookies.
		<button onclick="closePrivacyPolicy()" type="button" class="btn btn-light small mx-3 my-1 privacy-policy-btn">
			Ok, rozumiem
		</button>
	</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/js-cookie/js.cookie.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
			// When you see triple characters, it's a type sensitive comparison. (e.g. if (1 === '1') [not equal])
			if (Cookies.get('privacyPolicy') !== "1")
				$(".privacy-policy-info").show();
        });

        function closePrivacyPolicy() {
			$(".privacy-policy-info").hide();
			Cookies.set('privacyPolicy', '1', { expires: 7 })
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>