@* Layout strony głównej dla zalogowanych użytkowników - panel klienta i panel administratora *@

@using GymManager.Application.Common.Interfaces

@inject ICurrentUserService currentUserService
@inject IDateTimeService dateTimeService

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - GymManager</title>
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/GymManager.UI.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />

	<partial name="Styles/_FaviconsPartial" />

	@await RenderSectionAsync("Styles", required: false)
	
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	@* poprawienie przepływu aplikacji – MVC jak SPA *@
@* 	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery.pjax/jquery.pjax.min.js"></script>
	<script>
		$(document).ready(function () {
			$(document).pjax('a.pjax-load', "#main-body", { timeout: 10000 });
			$(document).ajaxStart(function () {
				$("#loading-div").show();
				$("#main-body").hide();
			});
			$(document).ajaxComplete(function () {
				$("#loading-div").hide();
				$("#main-body").show();
			});
		});
	</script> *@

</head>

<body class="layout-body">

	<div class="container-fluid">
		<div class="row flex-nowrap">

			@* nawigacja *@
			<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary">
				<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 collapse">

					@* widok częściowy *@
					<partial name="Partials/_NavigationPartial" />

				</div>
			</div>

			@* kod z różnych widoków *@
			<div class="col px-0">

				@* kontakt i wyloguj *@
				<div class="px-4 py-1 border-bottom bg-white">
					<a asp-controller="Home" asp-action="Contact" class="nav-link d-sm-inline-block px-2 text-secondary">
						Kontakt
					</a>
					<form class="form-inline d-sm-inline-block" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Identity/Account/Login">
						<button type="submit" class="nav-link btn btn-link px-2 text-secondary">Wyloguj</button>
					</form>
				</div>

				@* nagłówek *@
				<div class="py-2">
					<div class="container-fluid">
						<div class="row">
							<h2>@ViewData["Title"]</h2>
						</div>
					</div>
				</div>

				@* widok z akcji *@
				<div class="pb-1">
					<div class="container-fluid">
						<div class="row" id="main-body">

							@* SignalR - ukryte pole o unikalnym Id używane w usernotification.js do przechowywania informacji o Id połączenia *@
							<input type="hidden" id="signalRConnectionId" />

							@RenderBody()

						</div>
@* 						<div id="loading-div" style="display: none;">
							<i>Loading...</i>
						</div> *@
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="border-top footer bg-white">
		<div class="container text-dark my-2 text-center">
            &copy; @dateTimeService.Now.Year - GymManager - <a asp-controller="Home" asp-action="Privacy" class="text-dark">Polityka Prywatności</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="Scripts/_NotificationPartial" />

	@* SignalR - biblioteki i skrypty *@
	<script>
		@* pobranie UserId - potrzebne do poprawnego działania skryptu usernotification.js dlatego musi być przed skryptem *@
        var userId = '@(currentUserService.UserId ?? "")';
	</script>
	<script src="~/lib/microsoft-signalr/signalr.min.js"></script>
	<script src="~/js/usernotification.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>