@using GymManager.Application.Tickets.Queries.GetPrintTicket
@inject IConfiguration configuration
@model PrintTicketDto

@{
	var templateKey = configuration.GetSection("TemplateKey").Value;
	Layout = $"/Views/{templateKey}/Shared/_LayoutMain.cshtml";
	ViewData["Title"] = "Kontakt";
}

@section Styles {
	<link rel="stylesheet" href="~/css/print-ticket.css" />
}

<div class="ticket-template">

	<div class="col">
		<img src="~/@Model.Image" width=250 />
	</div>

	<div class="col">
		<h1>KARNET</h1>
	</div>

	<div class="col">
		Właściciel: <b>@Model.FullName</b>
	</div>

	<div class="top-line"></div>

	<div class="col">
		Od: <b>@Model.StartDate.ToLongDateString()</b>
	</div>

	<div class="col">
		Do: <b>@Model.EndDate.ToLongDateString()</b>
	</div>

	<div class="top-line"></div>

	<div class="col">
		KOD QR @Model.QrCodeId
	</div>

	<div class="col contact-info">
		Telefon: <b>@Model.CompanyContactPhone</b>
	</div>

	<div class="col mt-1 contact-info">
		Email: <b>@Model.CompanyContactEmail</b>
	</div>

</div>